<div class="admin-container">
    <div class="header">
        <div class="back-section" (click)="goBack()">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
            <span>Back to Home</span>
        </div>
    </div>

    <h1>Admin Center</h1>
    <div class="navigation-buttons">
      <app-icon-button
          [icon]="faCreditCard"
          title="Manage Cards"
          route="/admin/cards"
      ></app-icon-button>
      
      <app-icon-button
          [icon]="faDeals"
          title="Manage Deals"
          route="/admin/deals"
      ></app-icon-button>
  </div>
</div>