<div class="admin-container">
    <div class="header">
        <div class="back-section" (click)="goBack()">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
            <span>Back to Home</span>
        </div>
        <button class="logout-btn" (click)="logout()">
            <fa-icon [icon]="faSignOut"></fa-icon>
            <span>Logout</span>
        </button>
    </div>

    <p class="admin-title">Admin Center</p>
    <div class="navigation-buttons">
      <app-icon-button
          [icon]="faCreditCard"
          title="Manage Cards"
          route="/admin/cards"
      ></app-icon-button>
      
      <app-icon-button
          [icon]="faDeals"
          title="Manage Deals"
          route="/admin/deals"
      ></app-icon-button>
  </div>
</div>