<div class="deals-center-container">
    <div class="header">
        <div class="back-section" (click)="goBack()">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
            <span>Back</span>
        </div>
        <button class="toggle-btn" (click)="toggleActiveDeals()">
            {{ showActiveOnly ? 'Show All Deals' : 'Show Active Deals' }}
        </button>
    </div>

    <p class="deals-title">Deals</p>
    <app-deal-list [deals]="deals"></app-deal-list>

    <div class="action-bar">
        <button class="new-deal-btn" (click)="createNewDeal()">
            <fa-icon [icon]="faPlus"></fa-icon>
            New Deal
        </button>
    </div>
</div>